body {
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  background: white;
  font-family: Georgia, serif;
  font-size:100%;
  text-align:justify;
}

h1 {
margin-top: 0px;
}

div.lm {
  margin-left:1em;
}

ul {
    margin-top: -3em;
}

.shrinkbottom {
    margin-bottom: -.5em;
}

.headcontainer {
  width:100%;
  height:15em;
}

.headfloatleft {
  float: left;
  height: 15em;
  margin: 1em;
}

.headfloatright {
  float: right;
  margin: 1em;
}

.floatleft {
  width: 45%;
  float: left;
  margin-left:1em;

}

.floatright {
  width: 45%;
  float: right;
}

.floatcolumn1 {
  width: 30%;
  float: left;
  margin-left: 1em;

}

.floatcolumn2 {
  width: 35%;
  float: left;
  margin-left: .25em;
}

.floatcolumn3 {
  width: 30%;
  float: left;
  margin-left: .25em;
}

p.footer {
  font-size: 1em;
  padding-top: 1em;
}

p.bottomspace {
  padding-bottom: 1em;
}

a:link {
    color: blue;
    text-decoration: none;
}

a.nav-link:link {
   color: black;
   text-decoration: none;
}

a.nav-link:visited {
   color: black;
   text-decoration: none;
}

a.nav-link:hover {
   color: black;
   text-decoration: underline overline;
}

a.nav-link:focus {
   color: black;
   text-decoration: underline overline;
}

a.nav-link:active {
   color: black;
   text-decoration: underline overline;
}

@media only screen and (max-device-width: 480px) {
    p,ul {
	font-size: 140%;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size:140%;
    }
}
